<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Cadastrador de Eventos feito com Java e Spring Boot">
        <link rel="stylesheet" href="style/styleCss.css"/>
        <title>Cadastrador de Eventos </title>
</head>
<body class="body-form">
 
        <form method="post">
            <h1>Cadastro de Eventos</h1>
            <br>
            Nome: <input type="text" value="" name="nome" class="form-nome">
            <br>
            Local: <input type="text" value="" name="local" class="form-nome">
            <br>
            Data: <input type="date" value="" name="data" class="form-nome">
            <br>
            Horario: <input type="time" value="" name="horario" class="form-nome">
            <button type="submit" class="form-nome">Salvar</button>
        </form>




</body>
</html>